body {
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    height: 50vw;
    margin:auto;
    justify-content: flex-start;
    gap: 5px;
}

.grid-square {
    flex-basis: 5%;
    border-style: solid;
    border-color: black;

}

.grid-square:hover {
    background-color: blue;
}