body {
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    height: 50vw;
    margin:auto;
    justify-content: flex-start;
    gap: 0.2vw;
}

.grid-square {
    flex-basis: 2.65vw;
    border-style: solid;
    border-color: black;
    aspect-ratio: 1/1;

}

.visited {
    background-color: blue;
}

.set-grid-size {
    display: block;
    margin: 40px auto;
}